<div class="root">
  <img
    src="assets/default-monochrome.svg"
    height="50px"
    style="margin-top: 50px"
  />

  <div class="sub-root">
    <div class="tile-large" style="flex-direction: column; align-items: center">
      <div style="width: 60%; display: flex; flex-direction: column">
        <h1 style="font-weight: 600;align-self: flex-start">User Details</h1>

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            [formControl]="name"
            type="text"
            autocomplete="off"
            spellcheck="false"
            placeholder="Somebody"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            [disabled]="true"
            [value]="email.value"
            type="email"
            autocomplete="off"
            spellcheck="false"
            placeholder="Somebody"
          />
        </mat-form-field>
        <button
          [disabled]="existingName.value === name.value"
          class="profile-save-button"
          mat-stroked-button
          style="width: min-content; padding: 0 30px; border-color: #5b32cc;"
          (click)="updateName()"
        >
          Save
        </button>
      </div>
    </div>
    <br><br>
    <button
      mat-raised-button
      color="accent"
      (click)="onLogout()"
    >
      Log Out
    </button>
  </div>
  <div
    style="position: absolute; bottom: 0; padding-bottom: 20px; padding-top: 20px;">
    <div>
      © 2021 <a href="https://nikhilcodes.github.io" target="_blank">Nikhil Nayak</a>. All Rights Reserved
    </div>
  </div>
</div>
