.modal-background {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  width: 100%;
  height: 120vh;
  margin-top: -20vh;
  background-color: #00000088;
  transition-duration: 500ms;
}

.modal-self {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  width: 300px;
}

.modal-heading {
  margin-left: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #5b32cc;
}
