.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20%;
  background-color: #f1f4ff;
  min-height: 100%;
}

.sub-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tile-large {
  font-family: Quicksand, sans-serif !important;
  box-shadow: 0 0 30px #00000022;
  background-color: white;
  padding: 40px;
  margin: 50px 50px 0;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.grey-text {
  color: grey;
}

.price-text {
  font-size: 20px;
  font-weight: 500;
}

.price-text::before {
  content: "₹";
}

.modal-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pill-half {
  height: 20px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b32cc;
  font-weight: 500;
  border: 2px solid #5b32cc;
  transition-duration: 300ms;
  font-size: 12px;
  cursor: pointer;
}

.pill-enabled {
  color: #fff;
  background-color: #5b32cc;
}
