<div id="auth-root">
  <div id="auth-container">
    <div style="text-align: left">
      <input/>
<!--      <ly-field fullWidth>-->
<!--        <ly-label>Email Address</ly-label>-->
<!--        <input lyNativeControl>-->
<!--      </ly-field>-->

<!--      <ly-field style="width: 100%">-->
<!--        <ly-label>Secret Password</ly-label>-->
<!--        <input-->
<!--          lyNativeControl-->
<!--          placeholder="********"-->
<!--          [type]="hidePassword ? 'password' : 'text'"-->
<!--        >-->
<!--        <button-->
<!--          ly-button-->
<!--          appearance="icon"-->
<!--          lySuffix-->
<!--          (click)="hidePassword = !hidePassword"-->
<!--        >-->
<!--          <ly-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</ly-icon>-->
<!--        </button>-->
<!--        &lt;!&ndash;          [color]="_field.errorState ? 'warn' : 'text'"&ndash;&gt;-->
<!--      </ly-field>-->
    </div>
  </div>
</div>
